modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_INSTAGRAM_CLIENT_ID = "1379237529947145"
VITE_TIKTOK_CLIENT_KEY = "aw3oaev5mhzkl4r2"
VITE_ADSENSE_CLIENT_ID = "ca-pub-4807272408824742"
VITE_ADSENSE_BANNER_SLOT = "2911989044"
VAPID_PUBLIC_KEY = "BOwVNL3sEONgyFulirkX5dzwQo662Yj2_C846OSMrTSfiz4GFwEsl3_1NY3x_GqJIco8P7Ls85u56IRC3Y8Bj2c"
VAPID_PRIVATE_KEY = "K8SlvlCX8tgSXybX8aCG_rV80-g8PujumujAbvQ8H-w"
VAPID_EMAIL = "mailto:jdorta2206@gmail.com"
VITE_VAPID_PUBLIC_KEY = "BOwVNL3sEONgyFulirkX5dzwQo662Yj2_C846OSMrTSfiz4GFwEsl3_1NY3x_GqJIco8P7Ls85u56IRC3Y8Bj2c"

[userenv.development]
APP_ORIGIN = "https://3697d7d1-ea3c-4cf5-b00f-386041779844-00-emhgnr1gq77c.kirk.replit.dev"

[userenv.production]
APP_ORIGIN = "https://stop-el-juego.replit.app"

[nix]
channel = "stable-25_05"
